<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="TextWriter" type="System.Diagnostics.TextWriterTraceListener" initializeData="application.log"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
